<div class="headBar___BcvAm" id="headBar" style="top: 80px;">
    <div class="headBarWrapper___3KRxj">
        <div class="tabsWrapper___3gcB2">
            <div class="MuiTabs-root jss167" activekey="FORWARD">
                <div class="MuiButtonBase-root MuiTabScrollButton-root MuiTabs-scrollButtons jss169 jss203 Mui-disabled"
                    aria-disabled="false"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall" focusable="false"
                        viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path>
                    </svg><span class="MuiTouchRipple-root"></span></div>
                <div style="width: 99px; height: 99px; position: absolute; top: -9999px; overflow: scroll;"
                    class="MuiTabs-scrollable"></div>
                <div class="MuiTabs-scroller MuiTabs-scrollable" style="margin-bottom: 0px;">
                    <div class="MuiTabs-flexContainer" role="tablist"><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss204 jss184 jss209 MuiTab-textColorPrimary MuiTab-labelIcon jss176"
                            tabindex="-1" type="button" role="tab" aria-selected="false" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175"><span
                                    style="width: 18px; height: 18px; margin-right: 4px;"
                                    class="fav_wrapper___2TNHD"><svg xmlns="http://www.w3.org/2000/svg" width="32"
                                        height="32" viewBox="0 0 32 32" fill="currentColor" class="greyStar___1-GRj">
                                        <path
                                            d="M16 23.667l8.267 5-2.2-9.4L29.334 13l-9.6-.8-3.733-8.867-3.733 8.867-9.6.8 7.267 6.333-2.2 9.333 8.267-5z">
                                        </path>
                                    </svg></span>Favorites</span><span
                                class="MuiTouchRipple-root"></span></button><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss210 jss184 jss215 MuiTab-textColorPrimary Mui-selected jss173 jss211"
                            tabindex="0" type="button" role="tab" aria-selected="true" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175">USDT-ⓜ</span><span
                                class="MuiTouchRipple-root"></span></button><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss216 jss184 jss221 MuiTab-textColorPrimary"
                            tabindex="-1" type="button" role="tab" aria-selected="false" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175">COIN-ⓜ</span><span
                                class="MuiTouchRipple-root"></span></button><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss236 jss184 jss241 MuiTab-textColorPrimary tab___3M5kj hot___2YoAx"
                            tabindex="-1" type="button" role="tab" aria-selected="false" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175">Metaverse</span><span
                                class="MuiTouchRipple-root"></span></button><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss242 jss184 jss247 MuiTab-textColorPrimary tab___3M5kj"
                            tabindex="-1" type="button" role="tab" aria-selected="false" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175">NFT</span><span
                                class="MuiTouchRipple-root"></span></button><button
                            class="MuiButtonBase-root MuiTab-root jss172 jss248 jss184 jss253 MuiTab-textColorPrimary tab___3M5kj"
                            tabindex="-1" type="button" role="tab" aria-selected="false" activekey="FORWARD"
                            scrollbuttons="on"><span class="MuiTab-wrapper jss175">DeFi</span><span
                                class="MuiTouchRipple-root"></span></button></div><span
                        class="jss186 jss187 MuiTabs-indicator jss168 jss202"
                        style="left: 128.233px; width: 86.7833px;"></span>
                </div>
                <div class="MuiButtonBase-root MuiTabScrollButton-root MuiTabs-scrollButtons jss169 jss203 Mui-disabled"
                    aria-disabled="false"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall" focusable="false"
                        viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                    </svg><span class="MuiTouchRipple-root"></span></div>
            </div>
        </div>
        <div class="tabBarContent___1sLaa">
            <div class="ant-row tabBar___97khl"><span
                    class="ant-input-search kc-input kc-input-search search___1RX-- no-button ant-input-affix-wrapper"><input
                        placeholder=" Search" autocomplete="off" class="ant-input" type="text" value=""><span
                        class="ant-input-suffix"><i
                            class="anticon anticon-search ant-input-search-icon"></i></span></span></div>
        </div>
    </div>
</div>
<div class="tableHeaderWrapper___3u0sx" id="tableHeader" style="top: 80px;">
    <table class="MuiTable-root tableHeader___1alam">
        <thead class="MuiTableHead-root">
            <tr class="MuiTableRow-root MuiTableRow-head">
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss222" scope="col"
                    style="width: 2.63158%;">
                    <div class="sortLabel___2efZn"><span></span></div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss224" scope="col"
                    style="width: 26.3158%;">
                    <div class="sortLabel___2efZn"><span>Contracts</span>
                        <div class="label___3p_Sn"></div>
                    </div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss226" scope="col"
                    style="width: 21.0526%;">
                    <div class="sortLabel___2efZn"><span>Last Price</span>
                        <div class="label___3p_Sn"></div>
                    </div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss228" scope="col"
                    style="width: 10.5263%;">
                    <div class="sortLabel___2efZn"><span>24h Change</span>
                        <div class="label___3p_Sn"></div>
                    </div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss230" scope="col"
                    style="width: 13.1579%;" aria-sort="descending">
                    <div class="sortLabel___2efZn"><span>Volume (24h)</span>
                        <div class="label___3p_Sn descend___KoFDo"></div>
                    </div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss232" scope="col"
                    style="width: 13.1579%;">
                    <div class="sortLabel___2efZn"><span>24h High</span>
                        <div class="label___3p_Sn"></div>
                    </div>
                </th>
                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-head jss234" scope="col"
                    style="width: 13.1579%;">
                    <div class="sortLabel___2efZn"><span>24h Low</span>
                        <div class="label___3p_Sn"></div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="marketTableBodyWrapper___1B1ox">
    <div>
        <div class="tableBodyContent___1hopK">
            <div style="height: 6608px; position: relative;">
                <div style="position: absolute; height: 224px; inset: 0px 0px 6384px;">
                    <div class="ant-table-wrapper tableBody___14DpY ">
                        <div class="ant-spin-nested-loading">
                            <div class="ant-spin-container">
                                <div
                                    class="ant-table ant-table-default ant-table-without-column-header ant-table-scroll-position-left">
                                    <div class="ant-table-content">
                                        <div class="ant-table-body">
                                            <table class="">
                                                <colgroup>
                                                    <col style="width: 2.63158%; min-width: 2.63158%;">
                                                    <col style="width: 26.3158%; min-width: 26.3158%;">
                                                    <col style="width: 21.0526%; min-width: 21.0526%;">
                                                    <col style="width: 10.5263%; min-width: 10.5263%;">
                                                    <col style="width: 13.1579%; min-width: 13.1579%;">
                                                    <col style="width: 13.1579%; min-width: 13.1579%;">
                                                    <col style="width: 13.1579%; min-width: 13.1579%;">
                                                </colgroup>
                                                <tbody class="ant-table-tbody">
                                                    <tr class="ant-table-row  ant-table-row-level-0"
                                                        data-row-key="XBTUSDTM">
                                                        <td class=""><span style="padding-left: 0px;"
                                                                class="ant-table-row-indent indent-level-0"></span>
                                                            <div class="operateIcons___u4LxP"><span><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="32"
                                                                        height="32" viewBox="0 0 32 32"
                                                                        fill="currentColor"
                                                                        class="hasStar___mAEvC notActive___3PCBn">
                                                                        <path
                                                                            d="M16 23.667l8.267 5-2.2-9.4L29.334 13l-9.6-.8-3.733-8.867-3.733 8.867-9.6.8 7.267 6.333-2.2 9.333 8.267-5z">
                                                                        </path>
                                                                    </svg></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters"><a
                                                                href="https://futures.kucoin.com/trade/XBTUSDTM">
                                                                <div class="tdHeadBox___2Wu1n"><img
                                                                        src="https://assets3.staticimg.com/futures/BTC.png"
                                                                        alt="">
                                                                    <div class="">BTC PERP/USDT </div>
                                                                </div>
                                                            </a></td>
                                                        <td class="ant-table-column-has-filters lastPrice___1fHSj"><span
                                                                class="changingWrapper___3QOqV"><span
                                                                    style=""><span><span>19,927</span><span
                                                                            style="opacity: 0.4;"></span></span></span><span
                                                                    class="changingIcon___OaBoa left___2OitB"
                                                                    style=""></span></span><span
                                                                style="margin-left: 8px;"><span
                                                                    class="color-gray font-size-12"><span>19,903.08</span><span
                                                                        style="margin-left: 4px;">USD</span></span></span>
                                                        </td>
                                                        <td class="ant-table-column-has-filters blodColumn___92Onw">
                                                            <div class="changeRate___3xRt_"><span
                                                                    class=" color-high">+3.77%</span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters ant-table-column-sort">
                                                            <div><span><span>1,195,236,091.89</span><span
                                                                        style="opacity: 0.4;"></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>20,100</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>19,050</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ant-table-row  ant-table-row-level-0"
                                                        data-row-key="ETHUSDTM">
                                                        <td class=""><span style="padding-left: 0px;"
                                                                class="ant-table-row-indent indent-level-0"></span>
                                                            <div class="operateIcons___u4LxP"><span><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="32"
                                                                        height="32" viewBox="0 0 32 32"
                                                                        fill="currentColor"
                                                                        class="hasStar___mAEvC notActive___3PCBn">
                                                                        <path
                                                                            d="M16 23.667l8.267 5-2.2-9.4L29.334 13l-9.6-.8-3.733-8.867-3.733 8.867-9.6.8 7.267 6.333-2.2 9.333 8.267-5z">
                                                                        </path>
                                                                    </svg></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters"><a
                                                                href="https://futures.kucoin.com/trade/ETHUSDTM">
                                                                <div class="tdHeadBox___2Wu1n"><img
                                                                        src="https://assets3.staticimg.com/futures/ETH.png"
                                                                        alt="">
                                                                    <div class="">ETH PERP/USDT </div>
                                                                </div>
                                                            </a></td>
                                                        <td class="ant-table-column-has-filters lastPrice___1fHSj"><span
                                                                class="changingWrapper___3QOqV"><span
                                                                    style=""><span><span>1,131.4</span><span
                                                                            style="opacity: 0.4;">0</span></span></span><span
                                                                    class="changingIcon___OaBoa left___2OitB"
                                                                    style=""></span></span><span
                                                                style="margin-left: 8px;"><span
                                                                    class="color-gray font-size-12"><span>1,130.04</span><span
                                                                        style="margin-left: 4px;">USD</span></span></span>
                                                        </td>
                                                        <td class="ant-table-column-has-filters blodColumn___92Onw">
                                                            <div class="changeRate___3xRt_"><span
                                                                    class=" color-high">+6.97%</span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters ant-table-column-sort">
                                                            <div><span><span>848,584,983.77</span><span
                                                                        style="opacity: 0.4;"></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>1,144.09</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>1,044.59</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ant-table-row  ant-table-row-level-0"
                                                        data-row-key="SOLUSDTM">
                                                        <td class=""><span style="padding-left: 0px;"
                                                                class="ant-table-row-indent indent-level-0"></span>
                                                            <div class="operateIcons___u4LxP"><span><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="32"
                                                                        height="32" viewBox="0 0 32 32"
                                                                        fill="currentColor"
                                                                        class="hasStar___mAEvC notActive___3PCBn">
                                                                        <path
                                                                            d="M16 23.667l8.267 5-2.2-9.4L29.334 13l-9.6-.8-3.733-8.867-3.733 8.867-9.6.8 7.267 6.333-2.2 9.333 8.267-5z">
                                                                        </path>
                                                                    </svg></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters"><a
                                                                href="https://futures.kucoin.com/trade/SOLUSDTM">
                                                                <div class="tdHeadBox___2Wu1n"><img
                                                                        src="https://assets3.staticimg.com/futures/SOL.png"
                                                                        alt="">
                                                                    <div class="">SOL PERP/USDT </div>
                                                                </div>
                                                            </a></td>
                                                        <td class="ant-table-column-has-filters lastPrice___1fHSj"><span
                                                                class="changingWrapper___3QOqV"><span
                                                                    style=""><span><span>34.911</span><span
                                                                            style="opacity: 0.4;"></span></span></span><span
                                                                    class="changingIcon___OaBoa left___2OitB"
                                                                    style=""></span></span><span
                                                                style="margin-left: 8px;"><span
                                                                    class="color-gray font-size-12"><span>34.86</span><span
                                                                        style="margin-left: 4px;">USD</span></span></span>
                                                        </td>
                                                        <td class="ant-table-column-has-filters blodColumn___92Onw">
                                                            <div class="changeRate___3xRt_"><span
                                                                    class=" color-high">+6.63%</span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters ant-table-column-sort">
                                                            <div><span><span>72,992,987.49</span><span
                                                                        style="opacity: 0.4;"></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>35.11</span><span
                                                                                style="opacity: 0.4;">0</span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>32.436</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ant-table-row  ant-table-row-level-0"
                                                        data-row-key="SANDUSDTM">
                                                        <td class=""><span style="padding-left: 0px;"
                                                                class="ant-table-row-indent indent-level-0"></span>
                                                            <div class="operateIcons___u4LxP"><span><svg
                                                                        xmlns="http://www.w3.org/2000/svg" width="32"
                                                                        height="32" viewBox="0 0 32 32"
                                                                        fill="currentColor"
                                                                        class="hasStar___mAEvC notActive___3PCBn">
                                                                        <path
                                                                            d="M16 23.667l8.267 5-2.2-9.4L29.334 13l-9.6-.8-3.733-8.867-3.733 8.867-9.6.8 7.267 6.333-2.2 9.333 8.267-5z">
                                                                        </path>
                                                                    </svg></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters"><a
                                                                href="https://futures.kucoin.com/trade/SANDUSDTM">
                                                                <div class="tdHeadBox___2Wu1n"><img
                                                                        src="https://assets3.staticimg.com/futures/SAND.png"
                                                                        alt="">
                                                                    <div class="">SAND PERP/USDT </div>
                                                                </div>
                                                            </a></td>
                                                        <td class="ant-table-column-has-filters lastPrice___1fHSj"><span
                                                                class="changingWrapper___3QOqV"><span
                                                                    style=""><span><span>1.18858</span><span
                                                                            style="opacity: 0.4;"></span></span></span><span
                                                                    class="changingIcon___OaBoa left___2OitB"
                                                                    style=""></span></span><span
                                                                style="margin-left: 8px;"><span
                                                                    class="color-gray font-size-12"><span>1.18</span><span
                                                                        style="margin-left: 4px;">USD</span></span></span>
                                                        </td>
                                                        <td class="ant-table-column-has-filters blodColumn___92Onw">
                                                            <div class="changeRate___3xRt_"><span
                                                                    class=" color-high">+15.01%</span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters ant-table-column-sort">
                                                            <div><span><span>34,829,093.92</span><span
                                                                        style="opacity: 0.4;"></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>1.20231</span><span
                                                                                style="opacity: 0.4;"></span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                        <td class="ant-table-column-has-filters">
                                                            <div><span class="changingWrapper___3QOqV"><span
                                                                        style=""><span><span>1.0324</span><span
                                                                                style="opacity: 0.4;">0</span></span></span><span
                                                                        class="changingIcon___OaBoa left___2OitB"
                                                                        style=""></span></span></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>